/* Aurélie: css pour page création d'une sortie */

textarea{
    height: 130px;
}

.form-control{
    width: 440px;
}

.boutons{

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 30px;

}