/* Aurélie: css pour page création d'une sortie */

textarea{
    height: 130px;
}

.form-control{
    width: 440px;
}

form{
    min-height: 745px;
    width: 100%;
    display: grid;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
}

a{
    color: white;
    outline: none;
}

.btn-link{
    margin-top: 14px;
}

.boutons{
    display: flex;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:visited:hover:active:link{
    color: white;
    outline: none;
}

.formulaire{
    display: flex;
    flex-direction: column;
    align-content: center;
    max-height: 700px;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px 35px;
}

.add{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

#iconAdd{
    height:30px;
    margin-top: 12px;
}

label[for=sortie_lieu_nom]{
    flex:1;
}

label.required:after {
    content: "*";
    color: red;
}