section{
    padding: 20px;
    margin: 0 auto;
    width: 50%;
}

h2{
    margin-top: 10px;
    margin-bottom: 5%;
}

p{
    padding-bottom: 20px;
}

.div_profil
{
    display: flex;
}

.img_profil
{
    height: 300px;
    padding-left: 100px;
}