section{
    padding: 20px;
    margin: 0 auto;
    width: 50%;
}

h2{
    margin-top: 10px;
    margin-bottom: 7%;
    text-align: center;
}

p{
    padding-bottom: 20px;
}

.div_profil
{
    display: flex;
}

.img_profil
{
    height: 300px;
    padding-left: 100px;
}

#btn_modifier_profil{
    margin-top: 40px;
}

label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.label-sortie{
    margin-bottom: 28px;
}