table {
    border-width:1px;
    border-style:solid;
    border-color:black;
    width:100%;
}
thead,tfoot {
    background-color: #171B45;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
tbody{
    font-size: 20px;
    position: relative;
}
table, th, td {
    border: 1px solid;
    table-layout: auto;
    table-layout: fixed;
    text-align :center;
}

.scroller {
    height: 300px;
    overflow: scroll;
}

