{%  extends 'base.html.twig' %}

{% block body %}

    <h2>Vous êtes perdus !</h2>
    <p><a href="{{ path('sorties_afficher') }}" title="Go back to homepage">Cliquez ici pour revenir à l'accueil !</a></p>

{%  endblock %}

{%  block title %}
    Error 404 | {{ parent() }}

{%  endblock %}